<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography || magniZent UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style/header.css" />
    <link rel="stylesheet" href="../../style/menu.css" />
    <link rel="stylesheet" href="../../style/mainContent.css" />
    <link rel="stylesheet" href="../../style/codeSnippet.css" />
    <link rel="stylesheet" href="../../style/footer.css" />
    <link rel="stylesheet" href="../../style/sidecontent.css" />
    <link rel="stylesheet" href="typography.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div
          class="logo flex-container"
          style="align-items: baseline; gap: 2rem"
        >
          <a href="index.html">
            <h2 class="main-title">
              magni<span class="bold-main-title">Z</span>ent
              <span class="bold-main-title">UI</span>
            </h2>
          </a>
        </div>

        <div class="header-main-content">
          <ul class="flex social-links-inner-container">
            <a class="header-item" href="index.html"><li>Home</li></a>
            <a class="header-item" href="./Docs/Introduction/introduction.html"
              ><li>Documentation</li></a
            >
          </ul>
        </div>
        <div class="social-links-container">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu toggle-menu-container">
        <div class="drawer-container intro-drawer-container">
          <h3 class="drawer-header">Get Started</h3>
          <p class="drawer-inner-header">Introduction</p>
          <p class="drawer-inner-header">Usage</p>
          <p class="drawer-inner-header">Typography</p>
          <p class="drawer-inner-header">Colors</p>
        </div>
        <hr class="hr-line drawer-line" />
        <div class="drawer-container component-drawer-container">
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Alert/alert.html">Alert</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Badge/badge.html">Badge</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Button/button.html">Button</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Card/card.html">Card</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Grid/grid.html">Grid</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Image/image.html">Image</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Input/input.html">Input</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../List/list.html">List</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Modal/modal.html">Modal</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Navigation/navigation.html"
              >Navigation</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Rating/rating.html">Rating</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Snackbar/snackbar.html"
              >Snackbar</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Typography/typography.html"
              >Typography</a
            >
          </p>
        </div>

        <div class="social-links-container social-links-toggle-menu">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <h2 class="main-content-header">Typography</h2>
        <p class="component-description">
          Check various text utilities provided by magniZent UI. It is the used
          to render text and paragraphs within an interface.
        </p>

        <hr class="hr-line" />

        <div class="hero-component-container">
          <div id="heading" class="heading">
            <h3 class="inner-component-header">Headings</h3>
            <p class="inner-component-description">
              Headings are available from h1 to h6.
            </p>
            <div class="main-component-container flex-container">
              <h1>Heading h1</h1>
              <h2>Heading h2</h2>
              <h3>Heading h3</h3>
              <h4>Heading h4</h4>
              <h5>Heading h5</h5>
              <h6>Heading h6</h6>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/6beb47a092973ec0cb1c348b616c32e0.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="text-sizes" class="text-sizes">
            <h3 class="inner-component-header">Text Sizes</h3>
            <p class="inner-component-description">
              There are 4 variants for Text sizes. Use the class lg-text for
              large font, class rg-text for regular font, class md-text for
              medium font, class sm-text for small font
            </p>
            <div class="main-component-container flex-container">
              <p class="lg-txt">Large Text</p>
              <p class="rg-txt">Regular Text</p>
              <p class="md-txt">Medium Text</p>
              <p class="sm-txt">Small Text</p>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/f42ead2de1e43c1c6487a73eaf0b5b39.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="text-weight" class="text-weight">
            <h3 class="inner-component-header">Text Weight</h3>
            <p class="inner-component-description">
              There are 4 variants for Text Weight. Use the class bolder-txt for
              font weight 900, class bold-txt for font weight 700, class
              regular-txt for font weight 500, class bolder-txt for font weight
              300
            </p>
            <div class="main-component-container flex-container">
              <p class="bolder-txt rg-txt">Large Text</p>
              <p class="bold-txt rg-txt">Regular Text</p>
              <p class="regular-txt rg-txt">Medium Text</p>
              <p class="light-txt rg-txt">Small Text</p>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/326081bb5a9b3bd7eacc01c5dcf5959d.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="text-decoration" class="text-decoration">
            <h3 class="inner-component-header">
              Text Decoration and Variation
            </h3>
            <p class="inner-component-description">
              Use the class gray-txt for secondary use. Class underline-txt
              underline the text and class strikethrought-txt strikes out the
              text.
            </p>
            <div class="main-component-container flex-container">
              <p class="underline-txt rg-txt">Underline text</p>
              <p class="strikethrough-txt rg-txt">Strike through text</p>
              <p class="gray-txt rg-txt">Gray Text</p>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/fa989d64299e16334d57c9194dbb1c89.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="text-alignment" class="text-alignment">
            <h3 class="inner-component-header">Text Alignment</h3>
            <p class="inner-component-description">
              Text alignment consists of 3 variants. The class left-txt for left
              alignment, right-txt for right alignment, center-txt for center
              alignment
            </p>
            <div class="main-component-container">
              <p class="left-txt rg-txt">Text align - LEFT</p>
              <p class="center-txt rg-txt">Text align - CENTER</p>
              <p class="right-txt rg-txt">Text align - RIGHT</p>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/bdad65c9110ddc3fcb50c5788f8e0b25.js"></script>
            </div>
          </div>
        </div>
        <hr class="hr-line divider-inner-component" />
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <a class="footer-pagination" href="../Snackbar/snackbar.html">
              <span class="material-icons"> chevron_left </span>
              <p>left</p></a
            >
          </div>

          <div class="next-page">
            <a
              class="footer-pagination"
              href="../../Docs/Introduction/introduction.html"
            >
              <span class="material-icons"> chevron_right </span>
              <p>right</p></a
            >
          </div>
        </div>
      </div>

      <div class="side-content">
        <h2 class="side-content-title">On This Page</h2>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#heading">Heading</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#text-sizes">Text Sizes</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#text-weight">Text Weight</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#text-decoration"
            >Text Decoration and Variation</a
          >
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#text-alignment"
            >Text Alignment</a
          >
        </p>
      </div>
    </div>

    <script src="../../index.js"></script>
    <script src="input.js"></script>
  </body>
</html>
