.hero-container {


  max-width: 1200px;
  margin:  auto;
  display: flex;
  margin-top: 10rem;
}

.responsive-image {
  height: auto;
  width: 50rem;
  max-width: 50rem;
  margin-left: 5rem;
}

.hero-img {
  display: flex;

}

.title {
  font-size: 5.5rem;
}

.sub-title {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.get-started-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  border-radius: 9px;
}

.get-started-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width:1200px) {
  .hero-container {
    margin: 4rem;
  }
}


@media only screen and (max-width:800px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .responsive-image {
    margin: 3rem auto;
    width: 55rem;
    max-width: 60rem;
  }
}