.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 45rem;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  margin: auto
}

.card-description {
  margin: 2rem;
}

.heading-1 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 1000;
  color: var(--primary-color);
}

.heading-2 {
  opacity: 0.7;
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 1.7rem;
  opacity: 0.7;
  margin-top: 1rem;
  padding-left: 1rem;
}

.textoverlay-heading-2 {
  font-size: 1.7rem;
  opacity: 0.7;
  margin-top: 1rem;
}

.hero-container {
  display: flex;
}

img {
  max-width: 15rem;
  max-height: 10rem;
  border-radius: 7px 7px 0 0;
}

.footer-card {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.social-media-footer-card {
  margin: 2rem 0;
  justify-content: space-around;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
}

.font-button {
  color: var(--primary-color);
  font-weight: 700;
  width: auto;
  padding: 7px;
}

.font-button:hover {
  background-color: var(--font-btn-hover);
  border-radius: 7px;
}

.ecommerce-btn {
  background-color:  var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap:4px
}

.ecommerce-btn:hover {
  opacity: 0.7;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
}

.icon-button:hover {
  border-radius: 50%;
  padding: 5px;
  background-color: var(--icon-btn-hover);
}

.material-icons {
  font-size: 2.7rem;
}

/* basic card */
.basic-card {
  max-width: 35rem;
  background-color: var(--white-color);
}

.basic-card-img-container img {
  max-width: 35rem;
  max-height: 35rem;
}

.basic-card-des {
  margin: 1.2rem;
}

/* text-over-media */
.text-over-media-card {
  position: relative;
}

.text-over-media-card-des {
  position: absolute;
  top: 2rem;
  left: 0;
  color: var(--white-color);
}

.text-over-media-heading-3 {
  padding-left: 10px;
  opacity: 1;
}

.text-over-media-heading-2 {
  opacity: 1;
  font-weight: 1000;
  color: var(--black-color);
}

.text-over-media-heading-1 {
  margin-bottom: 5px;
  font-weight: 800;
  color: var(--black-color);
}

/* card with header */
.card-with-header-img {
  border-radius: 0px;
}

.card-with-header-heading1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* card with only btn */
.footer-card-card-with-only-btn {
  justify-content: flex-start;
  gap: 1rem;
}

.footer-card-card-with-only-icons {
  justify-content: flex-end;
  gap: 1.5rem;
}

/* Horizontal image and text */
.card-horizontal-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.price-tag {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  align-items: center;
  margin-top: 1.5rem;
}

.price {
  font-size:2.5rem;
}

.price-overlined {
  text-decoration: line-through;
}

.offer-tag {
  font-size: 1.8rem;
  color: var(--danger-component-color);
  font-weight: 700;
}

.save-later-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid  var(--primary-color);
}

.overlay-container {
  opacity: 0.4;
  background-color: transparent;
  z-index: 1
}

.card-overlay {
  position: relative;
}

.text-overlay {
  opacity: 1;
  position: absolute;
  font-size: 3rem;
  font-weight: bolder;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem;
  width: 30rem;
  text-align: center;
  z-index: 2
}

.dismiss-btn-inner-container{
  display: flex;
  align-items: baseline;
  margin-top: -12px;
}

.dismiss-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  font-size: 1.8rem;
}