.hr-line {
  height: 1px;
  border-width: 0;
  background-color: var(--primary-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-block-container {
  visibility: visible;
}

.hide-container {
  display: none
}

/* Avatar,badge */
.hero-inner-component-container {  
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-btw-center {
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu main-content main-content main-content side-content"
    "menu menu main-content main-content main-content side-content"
    "menu menu main-content main-content main-content side-content"
    "menu menu main-content main-content main-content side-content"
    "menu menu main-content main-content main-content side-content"
    "menu menu footer footer footer side-content";
  grid-gap: 10px;

  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
}

.class-name {
  color: var(--secondary-color);
  font-weight: 600;
}

.primary-color {
  color: var(--primary-color)
}

.secondary-color {
  color: var(--secondary-color)
}

.success-color {
  color: var(--primary-color)
}

.warning-color {
  color: var(--primary-color)
}

.danger-color {
  color: var(--primary-color)
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "main-content main-content main-content main-content main-content main-content"
      "main-content main-content main-content main-content main-content main-content"
      "main-content main-content main-content main-content main-content main-content"
      "main-content main-content main-content main-content main-content main-content"
      "main-content main-content main-content main-content main-content main-content"
      "footer footer footer footer footer footer";

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
  }

  .main-content {
    margin-left: 7rem;
    margin-right: 7rem;
  }

  .side-content {
    display: none;
  }
}
