@import url("../../style/reset.css");
@import url("../../style/color.css");
@import url("../../style/common.css");

/* Header */
.header {
  grid-area: header;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  display: flex;
  padding: 2rem;
  box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
}

.main-title {
  font-size: 3.6rem;
  font-weight: 600;
  border-bottom: 1px solid var(--secondary-color);
}

.bold-main-title {
  color: rgba(0, 0, 0, 0.6); 
  font-size: 5rem;
}


.social-links-inner-container > li {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
  gap: 3rem
}

.header-main-content {
  margin-left: 9rem;
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 700;
  cursor: pointer;
}

.header-item:hover {
  color: var(--primary-color);
}

.social-links-container {
  margin-left: auto;
  font-size: 1.8rem;
  color: var(--secondary-color)
}

.social-link-icon {
  font-size: 2.5rem;
  color: var(--secondary-color)
}


.social-link-icon:hover {
 color: var(--primary-color);
}

.active {
  color: var(--primary-color); 
}

.hide-list-type {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-item {
 color: var(--secondary-color);
}

.main-title{
  color: var(--primary-color)
}

@media only screen and (max-width: 675px) {
  .social-links-container {
    display: none;
  }

  .header-main-content {
    margin-left: auto;
  }
}
