@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

/* width */
::-webkit-scrollbar {
  width: 1.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background:white; 
  border-radius: 1rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 
  border-radius: 1rem;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 480px) { 
  html {
    font-size: 35%;
  }
}
