:root {
  --font-weight-bolder : 900;
  --font-weight-bold : 700;
  --font-weight-normal : 500
}

.label {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: var(--font-weight-normal);
  color: var(--text-secondary-color);
  margin-right: 5rem;
}

.input {
  padding: 1rem 1.5rem;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  flex-grow: 1;
}

.required-input-astrik {
  color: var(--danger-component-color);
  font-weight: var(--font-weight-bolder);
  font-size: 1.8rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.radio-input {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.radio-label {
  margin-right: 2rem;
  font-size: 1.5rem;
}

.checkbox-container {
  margin-top: 2rem;
}

#terms-checkbox {
  margin-right: 1.5rem;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    font-size: 1.5rem;
    width: 15rem
}

.err-msg {
  display: block;
  color: var(--danger-component-color);
  font-size: 1.3rem;
  font-weight: var(--font-weight-normal);
  margin-top: 5px;
}

.input-error {
  border-color: var(--danger-component-color)
}

.input-success {
  border: 2px solid var(--success-component-color)
}

.gist-data{
  height:25rem; 
  overflow: auto
} 


