<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input || magniZent UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style/header.css" />
    <link rel="stylesheet" href="../../style/menu.css" />
    <link rel="stylesheet" href="../../style/mainContent.css" />
    <link rel="stylesheet" href="../../style/codeSnippet.css" />
    <link rel="stylesheet" href="../../style/footer.css" />
    <link rel="stylesheet" href="../../style/sidecontent.css" />
    <link rel="stylesheet" href="input.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div
          class="logo flex-container"
          style="align-items: baseline; gap: 2rem"
        >
          <span id="hamburger-menu" class="material-icons hamburger-menu">
            menu
          </span>
          <h2 class="main-title">
            magni<span class="bold-main-title">Z</span>ent
            <span class="bold-main-title">UI</span>
          </h2>
        </div>

        <div class="header-main-content">
          <ul class="flex social-links-inner-container">
            <li class="header-item">Home</li>
            <li class="header-item">Documentation</li>
          </ul>
        </div>
        <div class="social-links-container">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu toggle-menu-container">
        <div class="drawer-container intro-drawer-container">
          <h3 class="drawer-header">Get Started</h3>
          <p class="drawer-inner-header">Introduction</p>
          <p class="drawer-inner-header">Usage</p>
          <p class="drawer-inner-header">Typography</p>
          <p class="drawer-inner-header">Colors</p>
        </div>
        <hr class="hr-line drawer-line" />
        <div class="drawer-container component-drawer-container">
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Alert/alert.html">Alert</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Badge/badge.html">Badge</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Button/button.html">Button</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Card/card.html">Card</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Image/image.html">Image</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Input/input.html">Input</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../List/list.html">List</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Navigation/navigation.html"
              >Navigation</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Rating/rating.html">Rating</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Typography/typography.html"
              >Typography</a
            >
          </p>
        </div>

        <div class="social-links-container social-links-toggle-menu">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <h2 class="main-content-header">Input</h2>
        <p class="component-description">
          The Input component is a component that is used to get user input in a
          text field.
        </p>

        <hr class="hr-line" />

        <div class="hero-component-container">
          <div id="simple-input-field" class="simple-input-field">
            <h3 class="inner-component-header">Simple Input Field</h3>
            <p class="inner-component-description">
              Here is the basic usage of input field. Use the class label in the
              label and the class input in the input field
            </p>
            <div class="main-component-container">
              <label class="label" for="name-form-input"
                >Enter Your name
                <span class="required-input-astrik">*</span></label
              >
              <input
                class="input"
                id="name-form-input"
                type="text"
                placeholder="John Thomas"
              />

              <label class="label" for="msg-field">Enter Your Message</label>
              <textarea
                class="input"
                id="msg-field"
                type="text"
                placeholder="Enter here"
              ></textarea>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/d54890e0b6d4bed3db7b8bcd0ccb74b2.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="validation-form" class="validation-form-container">
            <h3 class="inner-component-header">
              Form with validation and errors style
            </h3>
            <p class="inner-component-description">
              Form with validation take care of required fields in the form as
              well as check the input in correct form.
            </p>
            <div class="main-component-container">
              <div class="input-container">
                <label class="label" for="name-input"
                  >Enter Your name
                  <span class="required-input-astrik">*</span></label
                >
                <div class="inner-input-container">
                  <input
                    class="input"
                    id="name-input"
                    type="text"
                    placeholder="John Thomas"
                    required
                  />
                  <div class="name-err-msg err-msg"></div>
                </div>
              </div>

              <div class="input-container">
                <label class="label" for="email-input"
                  >Enter Your email
                  <span class="required-input-astrik">*</span></label
                >
                <div class="inner-input-container">
                  <input
                    class="input"
                    id="email-input"
                    type="email"
                    placeholder="john@example.com"
                    required
                  />
                  <div class="email-err-msg err-msg"></div>
                </div>
              </div>

              <div class="input-container">
                <label class="label" for="select-input"
                  >Select your branch</label
                >
                <select class="input" id="branch-input" name="select-input">
                  <option value="Computer Engineering">
                    Computer Engineering
                  </option>
                  <option value="Mechanical Engineering">
                    Mechanical Engineering
                  </option>
                  <option value="Electrical Engineering">
                    Electrical Engineering
                  </option>
                  <option value="Civil Engineering">Civil Engineering</option>
                </select>
              </div>

              <div class="input-container">
                <label class="label" for="gender-input"
                  >Select Your gender</label
                >
                <input
                  class="radio-input"
                  type="radio"
                  id="gender-input"
                  name="gender"
                  value="male"
                />
                <label class="radio-label" for="male">Male</label>
                <input
                  class="radio-input"
                  type="radio"
                  id="female"
                  name="gender"
                  value="female"
                />
                <label class="radio-label" for="female">Female</label>
              </div>

              <div class="input-container checkbox-container">
                <input
                  type="checkbox"
                  id="terms-checkbox"
                  name="terms-checkbox"
                  value="yes"
                />
                <div class="inner-input-container">
                  <label for="terms-checkbox">
                    I agree to all the terms and conditions<span
                      class="required-input-astrik"
                      >*</span
                    ></label
                  ><br />
                  <div class="checkbox-err-msg err-msg"></div>
                </div>
              </div>

              <button class="btn">Submit</button>
            </div>
            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/ec6434a272e4d945f1681de6527e7d8a.js"></script>
            </div>
          </div>
        </div>
        <hr class="hr-line divider-inner-component" />
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <span class="material-icons"> chevron_left </span>
            <p>left</p>
          </div>

          <div class="next-page">
            <span class="material-icons"> chevron_right </span>
            <p>right</p>
          </div>
        </div>
      </div>

      <div class="side-content">
        <h2 class="side-content-title">On This Page</h2>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#simple-input-field"
            >Simple Input Field</a
          >
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#validation-form"
            >Form with validation and errors style</a
          >
        </p>
      </div>
    </div>

    <script src="../../index.js"></script>
    <script src="input.js"></script>
  </body>
</html>
