<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Button || magniZent UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="../../style/header.css" />
  <link rel="stylesheet" href="../../style/menu.css" />
  <link rel="stylesheet" href="../../style/mainContent.css" />
  <link rel="stylesheet" href="../../style/codeSnippet.css" />
  <link rel="stylesheet" href="../../style/footer.css" />
  <link rel="stylesheet" href="../../style/sidecontent.css" />
  <link rel="stylesheet" href="button.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <div
        class="logo flex-container"
        style="align-items: baseline; gap: 2rem"
      >
        <span id="hamburger-menu" class="material-icons hamburger-menu">
          menu
        </span>
        <a href="../../index.html">
          <h2 class="main-title">
            magni<span class="bold-main-title">Z</span>ent
            <span class="bold-main-title">UI</span>
          </h2>
        </a>
      </div>

      <div class="header-main-content">
        <ul class="flex social-links-inner-container">
          <a class="header-item" href="../../index.html"><li>Home</li></a>
          <a class="header-item" href="../../Docs/Introduction/introduction.html"
            ><li>Documentation</li></a
          >
        </ul>
      </div>
      <div class="social-links-container">
        <ul class="flex social-links-inner-container">
          <li>
            <a href="https://github.com/Vishruta-Patil" target="_blank"
              ><i class="fab fa-github social-link-icon"></i
            ></a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/vishruta-patil-30106b204"
              target="_blank"
              ><i class="fab fa-linkedin social-link-icon"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/vishruta_patil" target="_blank"
              ><i class="fab fa-twitter social-link-icon"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu toggle-menu-container">
      <div class="drawer-container intro-drawer-container">
        <h3 class="drawer-header">Get Started</h3>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../../Docs/Introduction/introduction.html">Introduction</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../../Docs/Colors/colors.html">Colors</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../../Docs/Conclusion/conclusion.html">Conclusion</a>
        </p>
      </div>
      <hr class="hr-line drawer-line" />
      <div class="drawer-container component-drawer-container">
        <h3 class="drawer-header">Components</h3>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Alert/alert.html">Alert</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Badge/badge.html">Badge</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Button/button.html">Button</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Card/card.html">Card</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Grid/grid.html">Grid</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Image/image.html">Image</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Input/input.html">Input</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../List/list.html">List</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Modal/modal.html">Modal</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Navigation/navigation.html"
            >Navigation</a
          >
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Rating/rating.html">Rating</a>
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Snackbar/snackbar.html"
            >Snackbar</a
          >
        </p>
        <p class="drawer-inner-header">
          <a class="drawer-links" href="../Typography/typography.html"
            >Typography</a
          >
        </p>
      </div>

      <div class="social-links-container social-links-toggle-menu">
        <ul class="flex social-links-inner-container">
          <li>
            <a href="https://github.com/Vishruta-Patil" target="_blank"
              ><i class="fab fa-github social-link-icon"></i
            ></a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/vishruta-patil-30106b204"
              target="_blank"
              ><i class="fab fa-linkedin social-link-icon"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/vishruta_patil" target="_blank"
              ><i class="fab fa-twitter social-link-icon"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/vishruta_patil" target="_blank"
              ><i class="fas fa-moon social-link-icon"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content">
      <h2 class="main-content-header">Button</h2>
      <p class="component-description">
        The Button component is used to trigger an action or event, such as
        submitting a form, opening a dialog, cancelling an action, or
        performing a delete operation.
      </p>

      <hr class="hr-line" />

      <div id="contained-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Contained Button</h3>
          <p class="inner-component-description">
            Contained buttons are high-emphasis, distinguished by their use of
            elevation and fill. <br/> There are 4 variants - <span class="class-name">Primary | Secondary | Success | Error</span>
            <br/> These can be created using class <span class="class-name">secondary success error</span>.
            Primary button is the default button.
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container">
              <div class="btn-container">
                <button class="btn">Primary</button>
              </div>
              <div class="btn-container">
                <button class="btn secondary">Secondary</button>
              </div>
              <div class="btn-container">
                <button class="btn error">Error</button>
              </div>
              <div class="btn-container">
                <button class="btn success">Success</button>
              </div>
            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/d22f37916367f5921aae33c6e2bea127.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />

      <div id="outline-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Outline Button</h3>
          <p class="inner-component-description">
            Outlined buttons are generally used in secondary purposes where more emphasis is not needed.
            <br/> There are 4 variants - <span class="class-name">Primary | Secondary | Success | Error</span>
            <br/> These can be created using class <span class="class-name">outline-primary outline-secondary outline-success outline-error</span>.
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container">
              <div class="btn-container">
                <button class="btn outline-primary">Primary</button>
              </div>
              <div class="btn-container">
                <button class="btn outline-secondary">Secondary</button>
              </div>
              <div class="btn-container">
                <button class="btn outline-error">Error</button>
              </div>
              <div class="btn-container">
                <button class="btn outline-success">Success</button>
              </div>
            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/e03b5a9a09eb6b6decc3b2f11e2f109a.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />

      <div id="link-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Link Button</h3>
          <p class="inner-component-description">
           Link buttons are used to add the link in the button. Use the class <span class="class-name">link-btn</span> in the button
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container">
              <div class="btn-container">
                <button class="btn link-btn">
                  <a class="link" href="#contained-button">Link</a>
                </button>
              </div>
            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/303ebef59484a5b33b4b8f58c455e35e.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />

      <div id="icon-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Icon Button</h3>
          <p class="inner-component-description">
            Icon button can be created using the class <span class="class-name">icon-btn</span> and add the appropriate icon.
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container">

              <button class="btn icon-btn">
                <span class="material-icons"> settings </span>
                Settings
              </button>

              <button class="btn outline-primary icon-btn">
                <span class="material-icons"> download </span>
                Download
              </button>

              <button class="btn secondary icon-btn">
                <span class="material-icons"> add_shopping_cart </span>
                Add to cart
              </button>

            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/4c8afab80c3ab45df3f826ca76d742a0.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />


      <div id="social-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Social Button</h3>
          <p class="inner-component-description">
            Social button is used for the social media platforms. Use the class <span class="class-name">icon-btn</span>
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container">

              <button class="btn twitter-btn icon-btn">
                <i
                class="fab fa-twitter social-icon"></i>
                Twitter
              </button>

              <button class="btn github-btn icon-btn">
                <i
                class="fab fa-github social-icon"></i>
                GitHub
              </button>

              <button class="btn linkedin-btn icon-btn">
                <i
                class="fab fa-linkedin social-icon"></i>
                LinkedIn
              </button>

            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/fcc559e69391269193915faeed4c1bbd.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />

      <div id="floating-button" class="hero-component-container">
        <div class="circular-avatar-badge-container">
          <h3 class="inner-component-header">Floating Button</h3>
          <p class="inner-component-description">
            Floating button can be used to fix button in any space you want. Use the class <span class="class-name">floating-btn</span>
          </p>

          <div class="main-component-container">
            <div class="hero-inner-component-container ">

              <button class="floating-btn">
                +
              </button>

            </div>
          </div>
          <div class="code-snippet-container">
            <script src="https://gist.github.com/Vishruta-Patil/de481d3e3e18e7c6195ccdbb25cf4626.js"></script>
          </div>
        </div>
      </div>

      <hr class="hr-line divider-inner-component" />




      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <a class="footer-pagination" href="../Badge/badge.html">
            <span class="material-icons"> chevron_left </span>
            <p>left</p></a>
          </div>

          <div class="next-page">
            <a class="footer-pagination" href="../Card/card.html">
            <span class="material-icons"> chevron_right </span>
            <p>right</p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="side-content">
      <h2 class="side-content-title">On This Page</h2>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#contained-button">Contained Button</a>
      </p>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#outline-button">Outline Button</a>
      </p>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#link-button">Link Button</a>
      </p>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#icon-button">Icon Button</a>
      </p>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#social-button">Social Button</a>
      </p>
      <p class="side-content-subtitle">
        <a class="side-content-links" href="#floating-button">Floating Button</a>
      </p>
    </div>

    <script src="../../index.js"></script>
</body>

</html>