<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List || magniZent UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style/header.css" />
    <link rel="stylesheet" href="../../style/menu.css" />
    <link rel="stylesheet" href="../../style/mainContent.css" />
    <link rel="stylesheet" href="../../style/codeSnippet.css" />
    <link rel="stylesheet" href="../../style/footer.css" />
    <link rel="stylesheet" href="../../style/sidecontent.css" />
    <link rel="stylesheet" href="list.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div
          class="logo flex-container"
          style="align-items: baseline; gap: 2rem"
        >
          <span id="hamburger-menu" class="material-icons hamburger-menu">
            menu
          </span>
          <a href="../../index.html">
            <h2 class="main-title">
              magni<span class="bold-main-title">Z</span>ent
              <span class="bold-main-title">UI</span>
            </h2>
          </a>
        </div>

        <div class="header-main-content">
          <ul class="flex social-links-inner-container">
            <a class="header-item" href="../../index.html"><li class="hide-list-type">Home</li></a>
            <a
              class="header-item"
              href="../../Docs/Introduction/introduction.html"
              ><li class="hide-list-type">Documentation</li></a
            >
          </ul>
        </div>
        <div class="social-links-container">
          <ul class="flex social-links-inner-container">
            <li class="hide-list-type">
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li class="hide-list-type">
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li class="hide-list-type">
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu toggle-menu-container">
        <div class="drawer-container intro-drawer-container">
          <h3 class="drawer-header">Get Started</h3>
          <p class="drawer-inner-header">
            <a
              class="drawer-links"
              href="../../Docs/Introduction/introduction.html"
              >Introduction</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../../Docs/Colors/colors.html"
              >Colors</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../../Docs/Conclusion/conclusion.html"
              >Conclusion</a
            >
          </p>
        </div>
        <hr class="hr-line drawer-line" />
        <div class="drawer-container component-drawer-container">
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Alert/alert.html">Alert</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Badge/badge.html">Badge</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Button/button.html">Button</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Card/card.html">Card</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Grid/grid.html">Grid</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Image/image.html">Image</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Input/input.html">Input</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../List/list.html">List</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Modal/modal.html">Modal</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Navigation/navigation.html"
              >Navigation</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Rating/rating.html">Rating</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Snackbar/snackbar.html"
              >Snackbar</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Typography/typography.html"
              >Typography</a
            >
          </p>
        </div>

        <div class="social-links-container social-links-toggle-menu">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <h2 class="main-content-header">List</h2>
        <p class="component-description">
          List component is used to display list items. It represents sequential
          order of text or images
        </p>

        <hr class="hr-line" />

        <div class="hero-component-container">
          <div id="unordered-list" class="unordered-list">
            <h3 class="inner-component-header">Unordered List</h3>
            <p class="inner-component-description">
              Unordered List has 3 variants of style. It consists of disc,
              square and circle.
            </p>
            <div class="main-component-container flex-row">
              <ul class="list-style-disc">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>

              <ul class="list-style-square">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>

              <ul class="list-style-circle">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ul>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/038403d8fbe5f2e0e4612174ed248ba1.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="ordered-list" class="ordered-list">
            <h3 class="inner-component-header">Ordered List</h3>
            <p class="inner-component-description">
              Ordered List has 5 variants of style. It consists of decimal,
              upper and lower roman, upper and lower alphabet
            </p>
            <div class="main-component-container flex-row">
              <ol class="decimal-list-type">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ol>

              <ol class="upper-roman">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ol>

              <ol class="lower-roman">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ol>

              <ol class="upper-alpha">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ol>

              <ol class="lower-alpha">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
              </ol>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/7bfb9ae718dac14e7654ac4c72e66ea3.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="stacked-list" class="stacked-list">
            <h3 class="inner-component-header">Stacked List</h3>
            <p class="inner-component-description">
              Stacked list consists of stacked cards. It is stacked without
              bullets.
            </p>
            <div class="main-component-container flex-container">
              <div>
                <ul>
                  <li class="stacked-box">
                    <div class="stacked-list-container">
                      <div class="img-container">
                        <img
                          class="stacked-list-img"
                          src="../../assets/stacked-card.PNG"
                          alt=""
                        />
                      </div>
                      <div class="description-container">
                        <h2 class="heading">Solid Women Pink Top</h2>
                        <p class="description">
                          Casual Regular Sleeves Solid Women Pink Top
                        </p>
                        <div class="price-tag">
                          <h2 class="price">₹450</h2>
                          <h2 class="price-overlined">₹1,199</h2>
                          <p class="offer-tag">62% off</p>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="stacked-box">
                    <div class="stacked-list-container">
                      <div class="img-container">
                        <img
                          class="stacked-list-img"
                          src="../../assets/stacked-card.PNG"
                          alt=""
                        />
                      </div>
                      <div class="description-container">
                        <h2 class="heading">Solid Women Pink Top</h2>
                        <p class="description">
                          Casual Regular Sleeves Solid Women Pink Top
                        </p>
                        <div class="price-tag">
                          <h2 class="price">₹450</h2>
                          <h2 class="price-overlined">₹1,199</h2>
                          <p class="offer-tag">62% off</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/ca2737679d0b1bc8fc73ed64d10189fb.js"></script>
            </div>
          </div>
        </div>
        <hr class="hr-line divider-inner-component" />
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <a class="footer-pagination" href="../Input/input.html">
              <span class="material-icons"> chevron_left </span>
              <p>left</p></a
            >
          </div>

          <div class="next-page">
            <a class="footer-pagination" href="../Modal/modal.html">
              <span class="material-icons"> chevron_right </span>
              <p>right</p></a
            >
          </div>
        </div>
      </div>

      <div class="side-content">
        <h2 class="side-content-title">On This Page</h2>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#unordered-list"
            >Unordered List</a
          >
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#ordered-list">Ordered List</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#stacked-list">Stacked list</a>
        </p>
      </div>
    </div>

    <script src="../../index.js"></script>
    <script src="input.js"></script>
  </body>
</html>
