<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating || magniZent UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style/header.css" />
    <link rel="stylesheet" href="../../style/menu.css" />
    <link rel="stylesheet" href="../../style/mainContent.css" />
    <link rel="stylesheet" href="../../style/codeSnippet.css" />
    <link rel="stylesheet" href="../../style/footer.css" />
    <link rel="stylesheet" href="../../style/sidecontent.css" />
    <link rel="stylesheet" href="rating.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div
          class="logo flex-container"
          style="align-items: baseline; gap: 2rem"
        >
          <a href="index.html">
            <h2 class="main-title">
              magni<span class="bold-main-title">Z</span>ent
              <span class="bold-main-title">UI</span>
            </h2>
          </a>
        </div>

        <div class="header-main-content">
          <ul class="flex social-links-inner-container">
            <a class="header-item" href="index.html"><li>Home</li></a>
            <a class="header-item" href="./Docs/Introduction/introduction.html"
              ><li>Documentation</li></a
            >
          </ul>
        </div>
        <div class="social-links-container">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu toggle-menu-container">
        <div class="drawer-container intro-drawer-container">
          <h3 class="drawer-header">Get Started</h3>
          <p class="drawer-inner-header">Introduction</p>
          <p class="drawer-inner-header">Usage</p>
          <p class="drawer-inner-header">Typography</p>
          <p class="drawer-inner-header">Colors</p>
        </div>
        <hr class="hr-line drawer-line" />
        <div class="drawer-container component-drawer-container">
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Alert/alert.html">Alert</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Badge/badge.html">Badge</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Button/button.html">Button</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Card/card.html">Card</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Grid/grid.html">Grid</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Image/image.html">Image</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Input/input.html">Input</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../List/list.html">List</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Modal/modal.html">Modal</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Navigation/navigation.html"
              >Navigation</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Rating/rating.html">Rating</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Snackbar/snackbar.html"
              >Snackbar</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Typography/typography.html"
              >Typography</a
            >
          </p>
        </div>

        <div class="social-links-container social-links-toggle-menu">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <h2 class="main-content-header">Rating</h2>
        <p class="component-description">
          Rating components are generally used to review or grade. It can be
          used as read-only badge or in reviews section.
        </p>

        <hr class="hr-line" />

        <div class="hero-component-container">
          <div id="read-only-rating" class="read-only-rating">
            <h3 class="inner-component-header">Read Only Rating</h3>
            <p class="inner-component-description">
              Read only ratings are the badge ratings which are used in read
              only purpose. Use the id star-colored in each label of star you
              want to highlight.
            </p>
            <div
              class="main-component-container flex-container rating-container"
            >
              <div class="rating-wrapper">
                <input type="radio" id="star-fixed-1" />
                <label
                  id="star-colored"
                  class="fas fa-star"
                  for="star-fixed-1"
                ></label>
                <input type="radio" id="star-fixed-2" />
                <label
                  id="star-colored"
                  class="fas fa-star star-colored"
                  for="star-fixed-2"
                ></label>
                <input type="radio" id="star-fixed-3" />
                <label
                  id="star-colored"
                  class="fas fa-star star-colored"
                  for="star-fixed-3"
                ></label>
                <input type="radio" id="star-fixed-4" />
                <label class="fas fa-star" for="star-fixed-4"></label>
                <input type="radio" id="star-fixed-5" />
                <label class="fas fa-star" for="star-fixed-5"></label>
              </div>
            </div>
            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/0d35b77037984f1c7d0886e834a10cfa.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="dynamic-rating" class="dynamic-rating">
            <h3 class="inner-component-header">Dynamic Rating</h3>
            <p class="inner-component-description">
              Dynamic ratings can be cantrolled. It is generally used in
              reviewing sections
            </p>
            <div
              class="main-component-container flex-container rating-container"
            >
              <div class="rating-wrapper">
                <input type="radio" id="star-1" />
                <label class="fas fa-star star" for="star-1"></label>
                <input type="radio" id="star-2" />
                <label class="fas fa-star star" for="star-2"></label>
                <input type="radio" id="star-3" />
                <label class="fas fa-star star" for="star-3"></label>
                <input type="radio" id="star-4" />
                <label class="fas fa-star star" for="star-4"></label>
                <input type="radio" id="star-5" />
                <label class="fas fa-star star" for="star-5"></label>
              </div>
            </div>
            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/ca98cc2a7f914e582ba22a6168574547.js"></script>
            </div>
          </div>
        </div>
        <hr class="hr-line divider-inner-component" />
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <a class="footer-pagination" href="../Navigation/navigation.html">
              <span class="material-icons"> chevron_left </span>
              <p>left</p></a
            >
          </div>

          <div class="next-page">
            <a class="footer-pagination" href="../Snackbar/snackbar.html">
              <span class="material-icons"> chevron_right </span>
              <p>right</p></a
            >
          </div>
        </div>
      </div>

      <div class="side-content">
        <h2 class="side-content-title">On This Page</h2>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#read-only-rating"
            >Read only Rating</a
          >
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#dynamic-rating"
            >Dynamic Rating</a
          >
        </p>
      </div>
    </div>

    <script src="../../index.js"></script>
    <script src="rating.js"></script>
  </body>
</html>
