<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal || magniZent UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../style/header.css" />
    <link rel="stylesheet" href="../../style/menu.css" />
    <link rel="stylesheet" href="../../style/mainContent.css" />
    <link rel="stylesheet" href="../../style/codeSnippet.css" />
    <link rel="stylesheet" href="../../style/footer.css" />
    <link rel="stylesheet" href="../../style/sidecontent.css" />
    <link rel="stylesheet" href="modal.css" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div
          class="logo flex-container"
          style="align-items: baseline; gap: 2rem"
        >
          <span id="hamburger-menu" class="material-icons hamburger-menu">
            menu
          </span>
          <a href="index.html">
            <h2 class="main-title">
              magni<span class="bold-main-title">Z</span>ent
              <span class="bold-main-title">UI</span>
            </h2>
          </a>
        </div>

        <div class="header-main-content">
          <ul class="flex social-links-inner-container">
            <a class="header-item" href="index.html"><li>Home</li></a>
            <a class="header-item" href="./Docs/Introduction/introduction.html"
              ><li>Documentation</li></a
            >
          </ul>
        </div>
        <div class="social-links-container">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu toggle-menu-container">
        <div class="drawer-container intro-drawer-container">
          <h3 class="drawer-header">Get Started</h3>
          <p class="drawer-inner-header">Introduction</p>
          <p class="drawer-inner-header">Usage</p>
          <p class="drawer-inner-header">Typography</p>
          <p class="drawer-inner-header">Colors</p>
        </div>
        <hr class="hr-line drawer-line" />
        <div class="drawer-container component-drawer-container">
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Alert/alert.html">Alert</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Avatar/avatar.html">Avatar</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Badge/badge.html">Badge</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Button/button.html">Button</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Card/card.html">Card</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Grid/grid.html">Grid</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Image/image.html">Image</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Input/input.html">Input</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../List/list.html">List</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Modal/modal.html">Modal</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Navigation/navigation.html"
              >Navigation</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Rating/rating.html">Rating</a>
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Snackbar/snackbar.html"
              >Snackbar</a
            >
          </p>
          <p class="drawer-inner-header">
            <a class="drawer-links" href="../Typography/typography.html"
              >Typography</a
            >
          </p>
        </div>

        <div class="social-links-container social-links-toggle-menu">
          <ul class="flex social-links-inner-container">
            <li>
              <a href="https://github.com/Vishruta-Patil" target="_blank"
                ><i class="fab fa-github social-link-icon"></i
              ></a>
            </li>
            <li>
              <a
                href="http://www.linkedin.com/in/vishruta-patil-30106b204"
                target="_blank"
                ><i class="fab fa-linkedin social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fab fa-twitter social-link-icon"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/vishruta_patil" target="_blank"
                ><i class="fas fa-moon social-link-icon"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-content">
        <h2 class="main-content-header">Modal</h2>
        <p class="component-description">
          The modal component can be used as an interactive dialog on top of the
          main content area of the website to show notifications and gather
          information using form elements from your website users.
        </p>

        <hr class="hr-line" />

        <div class="hero-component-container">
          <div id="alert-modal" class="alert-modal">
            <h3 class="inner-component-header">Alert Modal</h3>
            <p class="inner-component-description">
              Alert modal can be use for alert messages or confirming messages.
              use the class dialog-box for alert-modal
            </p>
            <div class="main-component-container flex-row">
              <div id="alert-dialog" class="dialog-box center-container">
                <h2 class="dialog-header alert-dialog-header">
                  Discard Draft?
                </h2>
                <div class="dialog-btn-container">
                  <button class="no-outline-btn">Cancel</button>
                  <button class="no-outline-btn">Discard</button>
                </div>
              </div>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/6b90795ea6b4dfa7e431e6859b501a19.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="basic-modal" class="basic-modal">
            <h3 class="inner-component-header">Basic Modal</h3>
            <p class="inner-component-description">
              Basic modal can be used by the class dialog-box and you can
              customize it with your content.
            </p>
            <div class="main-component-container flex-row">
              <div id="basic-dialog" class="dialog-box center-container">
                <p class="dialog-header">Set backup account</p>
                <div class="user-profile-container">
                  <div class="user-profile">
                    <div class="user-avtar">
                      <img
                        class="user-img rectangle-img"
                        src="../../assets/img.jpg"
                      />
                      <p class="user-email-address">user01@gmail.com</p>
                    </div>
                    <div class="user-avtar">
                      <img class="user-img" src="../../assets/vishruta.jpeg" />
                      <p class="user-email-address">user02@gmail.com</p>
                    </div>
                    <div class="user-avtar">
                      <span class="add-user-icon material-icons">
                        add_circle
                      </span>
                      <p class="user-email-address">Add Account</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/7622ad6fb6af062d4b50af4d55497e0c.js"></script>
            </div>
          </div>

          <hr class="hr-line divider-inner-component" />

          <div id="confirmation-modal" class="confirmation-modal">
            <h3 class="inner-component-header">Confirmation Modal</h3>
            <p class="inner-component-description">
              Confirmation Modal can be used to accept or discard any
              information or content.
            </p>
            <div class="main-component-container flex-row">
              <div
                id="confirmation-modal"
                class="dialog-box rectangle-box center-container"
              >
                <p class="dialog-header header-confirmation-dialog">Subject</p>
                <hr class="hr-line" />
                <div>
                  <div class="input-confirmation-dialog">
                    <input type="radio" id="physics" />
                    <label for="physics">Physics</label>
                  </div>
                  <div class="input-confirmation-dialog">
                    <input type="radio" id="chemistry" />
                    <label for="chemistry">Chemistry</label>
                  </div>
                  <div class="input-confirmation-dialog">
                    <input type="radio" id="maths" />
                    <label for="maths">Maths</label>
                  </div>
                  <div class="input-confirmation-dialog">
                    <input type="radio" id="none" />
                    <label for="none">None</label>
                  </div>
                </div>
                <div
                  class="dialog-btn-container confirmation-dialog-btn-container"
                >
                  <button class="no-outline-btn">Cancel</button>
                  <button class="no-outline-btn">Discard</button>
                </div>
              </div>
            </div>

            <div class="code-snippet-container">
              <script src="https://gist.github.com/Vishruta-Patil/a1c30f26fe98ddf03da6f5f024e68797.js"></script>
            </div>
          </div>
        </div>
        <hr class="hr-line divider-inner-component" />
      </div>

      <div class="footer">
        <div class="footer-container">
          <div class="previous-page">
            <a class="footer-pagination" href="../List/list.html">
              <span class="material-icons"> chevron_left </span>
              <p>left</p></a
            >
          </div>

          <div class="next-page">
            <a class="footer-pagination" href="../Navigation/navigation.html">
              <span class="material-icons"> chevron_right </span>
              <p>right</p></a
            >
          </div>
        </div>
      </div>

      <div class="side-content">
        <h2 class="side-content-title">On This Page</h2>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#alert-modal">Alert Modal</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#basic-modal">Basic Modal</a>
        </p>
        <p class="side-content-subtitle">
          <a class="side-content-links" href="#confirmation-modal"
            >Confirmation Modal</a
          >
        </p>
      </div>
    </div>

    <script src="../../index.js"></script>
    <script src="modal.js"></script>
  </body>
</html>
