.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem 3rem;
  font-weight: 700;
  outline: none;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.6;
}

.snackbar-section {
  margin-top: 5rem;
}

.snackbar {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 1rem 1.5rem;
  justify-content: space-between;
  width: 40rem;
  margin: auto;
  font-size: 1.4rem;
  border-radius: 5px;
  font-weight: bold;
  margin: auto;
}
.snackbar-align {
  align-items: center;
}
.snackbar-baseline-btn {
  left: 50%;
  transform: translate(-50%, 0);
}

.snackbar-content-2 {
  color: var(--primary-color);
  letter-spacing: 1.5px;
}

.snackbar-close-btn {
  outline: none;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: 1.6rem;
  width: 3rem;
  height: 3rem;
}

.snackbar-close-btn:hover {
  background-color: var(--border-input);
  border-radius: 50%;
}

.snackbar-stack {
  flex-direction: column;
  width: 45rem;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.snackbar-stack-inner {
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.success {
  color: var(--success-component-color);
  background-color: var(--success-component-background-color);
}

.warning {
  color: var(--warning-component-color);
  background-color: var(--warning-component-background-color);
}

.danger {
  color: var(--danger-component-color);
  background-color: var(--danger-component-background-color);
}

.standard-close-btn {
    background-color: transparent;
}

@media only screen and (max-width:400px){
  .snackbar {
    font-size: 10px;
  }
}