@import url("../../style/reset.css");
@import url("../../style/color.css");
@import url("../../style/common.css");

.alert {
  border-radius: 5px;
  padding: 1.2rem;
  color: var(--primary-component-color);
  background-color: var(--primary-component-background-color);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.primary {
  color: var(--primary-component-color);
  background-color: var(--primary-component-background-color);
}

.secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-component-background-color);
}

.success {
  color: var(--success-component-color);
  background-color: var(--success-component-background-color);
}

.warning {
  color: var(--warning-component-color);
  background-color: var(--warning-component-background-color);
}

.danger {
  color: var(--danger-component-color);
  background-color: var(--danger-component-background-color);
}



.outline-primary {
  color: var(--primary-component-color);
  border: 2px solid var(--primary-component-color);
  background-color: var(--background-color);
}

.outline-secondary {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: var(--background-color);
}

.outline-success {
  color: var(--success-component-color);
  border: 2px solid var(--success-component-color);
  background-color: var(--background-color);

}

.outline-warning {
  color: var(--warning-component-color);
  border: 2px solid var(--warning-component-color);
  background-color: var(--background-color);
}

.outline-danger {
  color: var(--danger-component-color);
  border: 2px solid var(--danger-component-color);
  background-color: var(--background-color);
}

.alert-close-btn {
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1.8rem;
  width: 35px;
  height: 35px;
  font-weight: bolder;
}

.alert-close-btn:hover {
  border-radius: 50%;
  background-color: var(--close-button-hover);
  color: var(--white-color);
}

#alert-close-btn {
  display: flex;
  align-items: center;
}

.alert-close-btn {
  margin-left: auto;
}



